{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "app": "./app"
        }
      }
    ]
  ],

  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.5"
        }
      }
    ]
  ]
}
